<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    
</head>
<header > 
    <h1>Logo Do Hotel</h1>
    <a href="Home">Inicial</a>
    <a href="Registro">Registro</a>
    <a href="Quartos">Quartos</a>
    <a href="MeuPerfil">Meu Perfil</a>
</header>
<body>
    <!-- Aki vai ter lago parecido com a atividade de javascript, 
    e como as funcoes de Remover o quarto e prolongar o alugel do quarto. 
    Vamos ter as fotos do quarto e uma breve descricao dele
    -->
    {{#each posts}}
        <hr>
        <div>
            Nome Completo : {{nome}} {{sobrenome}}
            Quantidade De Dias: {{quantidade_de_dias}}
            Quantidade De Pessoas: {{quantidade_de_pessoas}}
            <a href="update/{{id}}"><img src="/img/lapis.png" style="width: 25px ; height: 25px; padding-left: 10px"></a>
            <a href="deletar/{{id}}"><img src="/img/lixeira.png" style="width: 25px; height: 25px; padding-left: 10px"></a>

        </div> 
        <hr>
    {{/each}}

    <h1>Meu Perfil</h1>

    <div >
        <p>TRABALHO FINAL DESENVOLVIMENTO WEB – NodeJS - Equipe<br>
            <br>
            472687 - José Ribamar Silva Soares Filho;<br>
            499641 - Vinicius Amorim Sales Lopes;<br>
            398598 - André Teixeira Vaz;<br>
            404196 - Alex Lima De Freitas;<br>
            383866 - João Victor Macêdo L. Temóteo.<br>
            </p>
    </div>
</body>
 
</html>